:root {
  --header-font: 'Merriweather', serif;
  --text-font: "comic sans"
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
font-family: var(--header-font);
}

.wrapper {
  width: 100%;
} 

.current-track {
 background-color: white;
}

.past-track, .next-track {
  background-color: lightgray;
}

#playedbox > div {
  border-top: 1px solid darkgray;
  padding: 10px 0px;
}

#playedbox > div:first-child{
  border-top: none;
  /* check reference for how to apply inner border targeting nth child */
}

.playlist-title{
  font-weight: bold;
}

.playlist-artist {
  opacity: 80%;
  font-style: italic;
}

.header {
  background-image: linear-gradient(black, #7986cb); 
  width: 100%;
  color: white;
  height: 100px;
  margin-right: 50px;
  text-align: center;
}

.core-body {
  padding-left: 30px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.flex-player {
  display: flex;
  height: 120px;
  width: 100%;
  background-image: linear-gradient(#7986cb, black);
  text-align: center;
  position: fixed;
  bottom: 0;
  justify-content: center;
  font-family: (var(--header-font));
  
}

.flex-player > div {
  background-color:#7986cb;
  margin:10px;
  padding:20px;
  font-size: 30px;
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#lyricbox {
  float: left;
  background:#7986cb;
  
  color: aliceblue;
  width: 25%;
  height: 280px;
  border: 20px, solid black;
  outline: 100px black;
  text-align: center;
  overflow: scroll;
}

#lyricbox:hover {
  background: #828FD9;
}

#artbox {
  float:left;
  width:50%;
  height: 280px;
  text-align: center;
}


#playedbox {
  float: right;
  background:lightgray;
  width: 25%;
  height: 280px;
  text-align: center;
}

.currentsong-info {
  text-align: center;
}

#title-now {
  font-size: 1.5rem;
}

#artist-now {
  font-size: 1rem;
}

html { 
  background: url(../images/testback.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

/* Make it responsive */

@media screen and (max-width: 768px) {


}
  @media only screen and (max-width: 600px) {
    #lyricbox, #artbox, #playedbox 
     {
      float: none;
      height: 200px;
      width: 200px;
      flex: none;
      margin: auto;
      margin-bottom: 20px;

    }
    #albumart-now {
      width: 100%;
      height: 100%;
    }
  }



  /* .header-wrapper {
    width: 100%;
    text-align: center;
  }

  .header-wrapper h1,
  .header-wrapper nav {
    width: 100%;
  }  */