:root {
  --header-font: 'Merriweather', serif;
  --text-font: "comic sans"
}

* {
  margin: 0;
  box-sizing: border-box;
}

::selection{
  background-color: white;
}

::-webkit-scrollbar{
  width: .5em;
  height: .1em;
  offset: 50px;
}

::-webkit-scrollbar-track{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(158,0,167,1) 35%, rgba(231,0,243,1) 51%, rgba(106,16,126,1) 77%, rgba(42,24,66,1) 98%);
}

#lyricbox::-webkit-scrollbar-track{
  display: none;
}

::-webkit-scrollbar-corner{
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color:white;
  height: .1em;
  border-radius: 6px;

}

h1 {
font-family: var(--header-font);
}

h2 {
  font-family: "Segoe script";
  color: #e700f3;
  }

.wrapper {
  width: 100%;
} 

.current-track {
 background-color: #49222c;
}

.past-track, .next-track {
  background-color: black;
}

#playedbox > div {
  border-top: 1px solid black;
  padding: 10px 0px;
}

#playedbox > div:first-child{
  border-top: none;
  /* check reference for how to apply inner border targeting nth child */
}

.playlist-title{
  font-weight: bold;
}

.playlist-artist {
  opacity: 80%;
  font-style: italic;
}

.header {
  background: black; 
  width: 100%;
  color: white;
  height: 100px;
  
  margin-right: 50px;
  text-align: center;
}

.core-body {
  padding-left: 30px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.flex-player {
  display: flex;
  height: 200px;
  width: 100%;
  background: #2a1842;
  text-align: center;
  position: fixed;
  bottom: 0;
  justify-content: center;
  font-family: (var(--header-font));
  box-shadow: 0px 0px 20px 10px #e700f3;
  
}

.flex-player > div {
  margin:10px;
  padding:20px;
  font-size: 30px;
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.player-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#playback_controls {
  align-self: center;
}

.currentsong-info {
  align-self: center;
  margin: 0 10px;
  background-color: black;
  margin:10px;
  padding:20px;
  font-size: 30px;
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#lyricbox {
  float: left;
  background: black;
  color:  #e700f3;
  width: 25%;
  height: 280px;
  border: 20px, solid black;
  outline: 100px black;
  text-align: center;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px #e700f3;
  padding: 20px;
}

#lyricbox:hover {
  background: #e700f3;
  color: black;
}

#artbox {
  float:left;
  width:50%;
  height: 280px;
  text-align: center;
}

#albumart-now {
  box-shadow: 0px 0px 10px 10px #e700f3;
}


#playedbox {
  float: right;
  background:black;
  width: 25%;
  height: 280px;
  text-align: center;
  border-radius: 25px;
}

.past-track {
  color: #e700f3;
}

.next-track {
  color: #e700f3;
}

.current-track {
  color: #e700f3
}

.currentsong-info {
  text-align: center;
  color:  #e700f3;
}

#title-now {
  font-size: 1.5rem;
  color:  #e700f3;
}

#artist-now {
  font-size: 1rem;
  color:  #e700f3;
}


html { 
  background: url(../purplerrain2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

/* Make it responsive */

@media screen and (max-width: 768px) {
  #albumart-now {
    width: 100%;
    height: 100%;
  }

}
  @media only screen and (max-width: 600px) {
    #lyricbox, #artbox, #playedbox 
     {
      float: none;
      height: 200px;
      width: 200px;
      flex: none;
      margin: auto;
      margin-bottom: 20px;

    } 
  }